@import '../../scss/vars';

.items {
  margin: 72px 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.item {
  cursor: pointer;
  &:hover {
    color: $acsent;
  }
}

.previous__item {
  flex-basis: 500px;
  flex-shrink: 2;
  cursor: pointer;
  &:hover {
    color: $acsent;
  }
}

.next__item {
  flex-basis: 500px;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 2;
  cursor: pointer;
  &:hover {
    color: $acsent;
  }
}

.active {
  color: $acsent;
}
