.container__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
  font-size: 18px;
  margin-top: 64px;
}

.blockGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.bigNews {
  margin-bottom: 40px;
  height: 452px;
}

.gridNews {
  height: 452px;
}

.asignNews {
  margin-bottom: 40px;
  height: 207px;
}

.noPosts {
  height: 100vh;
  text-align: center;
  margin-top: 100px;
}

.categoriesInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
}

.error {
  height: 100vh;
}
