.container__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
  font-size: 18px;
  margin-top: 64px;
}

.blockGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.bigNews {
  border-bottom: 1px solid #dadada;
  padding-bottom: 39px;
  margin-bottom: 40px;
  height: 452px;
}

.gridNews {
  border-bottom: 1px solid #dadada;
  padding-bottom: 39px;
  height: 452px;
}

.asignNews {
  border-bottom: 1px solid #dadada;
  padding-bottom: 39px;
  margin-bottom: 40px;
  height: 206px;
}

.noPosts{
  height: 100vh;
  text-align: center;
  margin-top: 100px;
}
