@import '../../scss/vars';
.inner {
  font-size: 16px;
  font-weight: 600;
  color: $white;
  height: 84px;
  background-color: $acsent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;

  &__menu {
    padding: 34px 32px;
    background-color: transparent;
    border: none;
    border-right: 1px solid $acsentLight;
    cursor: pointer;

    svg {
      color: $white;
      width: 25px;
      height: 21px;
    }
  }
  &__search {
    padding: 29px 36px;
    background-color: transparent;
    border: none;
    border-right: 1px solid $acsentLight;
    border-left: 1px solid $acsentLight;
    cursor: pointer;

    svg {
      color: $white;
      width: 25px;
      height: 21px;
    }
  }
  &__block {
    display: flex;
    align-items: center;
  }

  &__profailes {
    padding: 17px 32px 19px 30px;
  }
  &__profailes_btn {
    padding: 13px 13px;
    border: none;
    background-color: $acsentLight;
    font-size: 16px;
    margin-right: 16px;
    color: $white;
    border-radius: 2px;
    cursor: pointer;
  }
}
