@import '../../scss/vars';
.inner {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $white;
  height: 84px;
  background-color: $acsent;
  display: flex;
  justify-content: space-between;
  &__menu {
    padding: 34px 32px;
    background-color: transparent;
    border: none;
    border-right: 1px solid $acsentLight;
    cursor: pointer;
    svg {
      color: $white;
      width: 25px;
      height: 21px;
    }
  }

  &__search {
    padding: 28px 36px;
    background-color: transparent;
    border: none;
    border-right: 1px solid $acsentLight;
    border-left: 1px solid $acsentLight;
    cursor: pointer;

    svg {
      color: $white;
      width: 25px;
      height: 21px;
    }
  }
  &__block {
    z-index: 1;
    background-color: $acsent;
    display: flex;
    align-items: center;
  }

  &__profailes {
    width: 236px;
    padding: 17px 32px 19px 30px;
  }
  &__profailes_btn {
    padding: 13px 13px;
    border: none;
    background-color: $acsentLight;
    font-size: 16px;
    margin-right: 16px;
    color: $white;
    border-radius: 2px;
    cursor: pointer;
  }

  &__search__block {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-basis: 1522px;
    &__closes {
      z-index: 1;
      position: absolute;
      width: 24px;
      height: 24px;
      right: 33px;
      top: 28px;
      cursor: pointer;
    }

    &__input {
      transform: translateX(2000px);
      transition: all 0.5s;
      background-color: $acsentLight;
      width: 0;
      height: 84px;
      padding: 30px;
      border: none;
      outline: none;
      color: #fff;
      &::placeholder {
        color: #fff;
        opacity: 0.33;
      }
    }

    &__active {
      transform: translateX(0px);
      transition: all 0.5s;
      width: 100%;
    }
  }
}
