@import '../../scss/vars.scss';
.categiries {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  border-bottom: 1px solid #dadada;
  text-align: center;
  height: 48px;
}

.item {
  margin-right: 40px;
  padding: 0 40px 24px 40px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: $acsent;
    transition: all 0.1s;
  }
  &__active {
    margin-right: 40px;
    padding: 0 40px 24px 40px;
    border-bottom: 2px solid $title;
    &:hover {
      color: $acsent;
      transition: all 0.1s;
    }
  }
}

.activeMon {
  border-bottom: 2px solid $white;
}

.categiriesMon {
  border-bottom: 1px solid #8D8E97;
}
