.png{
    max-width: 800px;
    margin: 0 auto;
    margin-top: -130px; 
}

.inner{
    height: 100vh;
}


.link {
    font-weight: 400;
    color: #313037;
    transition: all 0.5s;
    &:hover {
      color: #2231aa;
      transition: all 0.5s;
    }
  }
  
  .bodyMon {
    color: white;
  }
  