.inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
  margin-top: 64px;
}

.desc {
  grid-column: span 2;
  height: 98px;
}

.text {
  grid-column: span 2;
  height: 245px;
}

.btnBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 76px;
}

.rBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
