@import 'scss/vars';
@import 'scss/media';
*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  color: $title;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
}
