@import '_vars.scss';
@import '_media.scss';

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.container__inner {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 64px;
  }

  

