@import '_vars.scss';
@import '_media.scss';

html,
body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  color: $title;
  background-color: #f3f3f3;
}

.bodyMon {
  background-color: #313037;
  transition: all 0.8s;
  color: white;
}

.bodySun {
  background-color: #f3f3f3;
  transition: all 0.8s;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
}

