@import '../../scss/vars';
.wrapper {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.399);
  position: fixed;
  transition: all 0.5s ease-in-out;
}
.container {
  max-width: 886px;
  height: 589px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 83px 77px 54px 73px;
  transition: all 0.5s ease-in-out;
}

.closes {
  position: absolute;
  top: 20px;
  right: 25px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #14141f;
  &:hover {
    color: $acsent;
  }
}

.img {
  width: 675px;
  height: 390px;
  object-fit: cover;
}

.showModal {
  opacity: 1;
  visibility: visible;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
  padding-bottom: 41px;
  border-bottom: 1px solid #dadada;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.prev {
  padding-top: 4px;
  padding-right: 4px;
}

.next {
  padding-top: 4px;
  padding-left: 4px;
}

span {
  cursor: pointer;
}
